.registration-list {
    width: 90%;
    margin: 30px auto;
    font-size: 14px;
    color: #505050;
}

.registration-table {
    display: grid;
    gap: 15px;
    margin-top: 20px;
    border: 1px solid tomato;
    padding: 20px;
    background-color: #f9f9f9;
}

.registration-table-format {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1.5fr 1.5fr 0.5fr;
    align-items: center;
    border-bottom: 1px solid tomato;
    padding: 10px 0;
}

.registration-table-format.title {
    font-weight: 600;
    background-color: #ffe8e4;
    padding: 15px 0;
}

.registration-table-format p {
    margin: 0;
}

.cursor {
    color: red;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

.cursor:hover {
    color: darkred;
}

@media (max-width: 1000px) {
    .registration-table-format {
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr 0.5fr;
        font-size: 12px;
        display: flex;
        flex-direction: column;
    }
    .cursor{
        display: none;
    }

    .registration-table {
        padding: 15px 10px;
    }

    .registration-list {
        font-size: 12px;
    }

    .registration-table-format.title {
        display: none;
        font-size: 14px;
    }
}
