.add{
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.app-content{
  gap: 30px;
}

.add form{
  gap: 20px;     
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-img-upload img{
  width: 120px; 

}

.add-product-name, .add-product-description{
  width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea{
  padding: 10px;
}

.add-category-price{
  display: flex;
  gap: 30px;
}

.add-category-price select, .add-category-price input{
  max-width: 120px; 
  padding: 10px;
}

.add-btn{
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* App.css */

.container {
  display: flex; /* Use flexbox to arrange children side by side */
  height: 100vh; /* Full height of the viewport */
}

.firsthalf {
  width: 50%; /* Occupies the first half of the screen */
  position: relative; /* Positioning for the sidebar */
  overflow: hidden; /* Prevent overflow */
}

.secondhalf {
  width: 50%; /* Occupies the second half of the screen */
  background-color: #f4f4f4; /* Light background color */
  padding: 20px; /* Padding for inner content */
}

/* Add additional styles as needed */
